@{
    ViewBag.Title = "About";
}
@model GarageManagement.Models.Testing
<h1>@Model.chuoistring</h1>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
